.wc-groups__container {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/FIFA\ World\ Cup\ -\ Qatar\ 2022\ BG-01.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
}

.wc-groups__header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px
}

.wc-groups__header h1 {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
}

.wc-groups__container .wc-logo-groups {
    width: 100px;
    height: 150px;
}

@media screen and (max-width: 820px) {
    .wc-groups__header {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}