:root {
    --primary-color: #761934;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Global Styles */

.primary-btn {
    padding: .5rem 1.8rem;
    background-color: white;
    color: var(--primary-color);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    font-weight: bold;
    font-size: .9em;
    transition: .8s;
}

.primary-btn:hover {
    background-color: var(--primary-color);
    color: white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition-duration: .8s;
}

.App {
    width: 100%;
    min-height: 100vh;
}

.stadiums-font {
    font-family: 'Qatar2022 Arabic', sans-serif;
}